# Files produced by bad patch & diff runs
*~*~
*.rej
*.diff
*.orig
interdiff*.txt
*.log
*.sql
*.lock

# Local caches.
.sass-cache

# IDE artifacts
*~
\#*\#
*.swp
*.swo
.DS*
.project
.idea

# Upstream dependencies.
vendor
src/themes/*/.bundle
src/themes/*/.bundler
src/themes/*/.sass-cache

# Application specific.
config/settings.local.php
test/behat.yml

# Build artifacts
/docroot
/package

# Site Content
/src/sites/*/files
private_files
